{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <legend> Détails </legend>
        <table>
            <caption> Details de la commande </caption>
            <thead>
                <tr><th>nom du manga</th><th>quantité </th><th>prix</th><th>date d'ajout</th></tr>
            </thead>
            <tbody>
                {% for panier in data if data is not empty %}
                    <tr>
                        <td>{{panier.nom}}</td><td>{{panier.quantite}}</td><td>{{ panier.prix }}</td><td>{{panier.dateAjoutPanier}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}